.content-right {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.image-box {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-box img {
  width: 100%;
  border-radius: 8px;
}
