body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.register-container {
  width: 850px;
  background: #fff;
  padding: 45px;
  margin: 80px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  top: -35px;
}

.register-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.register-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

.register-container button {
  width: 100%;
  padding: 15px;
  background: #ff4d4d;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.terms-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}
.terms-container input {
  width: 18px;
  height: 18px;
  margin: 0;
}
.register-container button:hover {
  background: #e60000;
}
.captcha-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  width: fit-content;
  margin: 10px 0;
}
.login-link {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.logo a {
  text-decoration: none;
  color: inherit;
}
